@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 20vh;
    background-color: #FCE029;
}
.m-li{
     position: relative;
}
.m-li:hover .d-ul{
     display: block;
}
.d-li{
    text-decoration: underline;
    color: #FCE029;
    font-weight: 300;
}
.d-s-li{
    text-decoration: underline;
    color: #FCE029;
    font-weight: 300;
}
.m-ul{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
    .m-li{
        padding-top: 50px;
        font-size: 40px;
        font-family: "Lilita One", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    a{
        text-decoration: none;
    }
    .m-li-2{
        color: black;
        padding-top: 50px;
        font-size: 40px;
        font-family: "Lilita One", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
        .d-ul{
            list-style-type: none;
            display: none;
            position: absolute;
            width: 20vw;
            height: fit-content;
            padding: 15px;
            background-color: #0a75bc;
            border: 5px solid #0a75bc;
            border-radius: 10px;
            font-size: 20px;
        }
img{
    width: 34vw;
}
main{
    width: 100vw;
    height: 80vh;
    background-color: #0a75bc;
}
aside{
    height: 80vh;
    width: 69%;
    float: left;
}
section{
    width: 31%;
    height: 80vh;
    float: right;
    background-image: url(./des4.jpg);
    background-repeat: no-repeat;
    
}
p{
    font-size: 130px;
    text-align: center;
    padding-top: 180px;
    color: #FCE029;
    font-family: "Sedan SC", serif;
    font-weight: 800;
    font-style: normal;
}